@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /* body {
        @apply bg_default
    } */

    @font-face {
        font-family: "Genshin";
        src: url("/assets/font/Genshin_Impact.font-woff") format("woff2");
    }
}

@layer components {
    .icon_button {
        @apply h-16 w-16 flex justify-center 
        items-center bg-slate-600 bg-opacity-50 rounded-full
        transition-colors duration-500
    }
    .icon_button:hover {
        @apply bg-slate-800 bg-opacity-50
    }
    .icon_button:focus {
        @apply bg-slate-950 bg-opacity-50
    }

    .nav_grad {
        @apply bg-black bg-opacity-45
    }

    .bg_default {
        @apply bg-gradient-to-b from-cryo_back via-cryo_mist to-blue-950
    }

    .text_genshin {
        @apply font-[Genshin] text-white
    }

    .box_overlay {
        @apply bg-black bg-opacity-25
    }

    .scroll-none {
        scrollbar-width: none;
    }

    .item-active {
        background-image: url("../public/assets/icon/charaSelect.png");
    }

    .item-normal {
        background-image: url("../public/assets/icon/charaSelect.png");
    }

    @keyframes
    slide-in {
        0% {
            left: -100;
        }
        100% {
            left: 0;  
        }
    }

    @keyframes
    slide-out {
        0% {
            left: 0;
        }
        100% {
            left: -100;  
        }
    }

    .loading-spinner {
        background: radial-gradient(farthest-side,#ffffff 94%,#0000) top/9px 9px no-repeat,
               conic-gradient(#0000 30%,#ffffff);
        -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 9px),#000 0);
        animation: loading 1s infinite linear;
     }
     
     @keyframes loading {
        100% { transform: rotate(1turn); }
     }
}